<section class="about-container">
    <section class="top-section">
        <div class="top-main">
        </div>
    </section>

    <section class="mid-section">
        <div class="mid-left">
            <h1>Some Text Here</h1>
        </div>
        <div class="mid-right">

        </div>
    </section>

    <section class="bottom">
        <div class="social-media">
            <a href=""><i class="fa fa-facebook-official fa-2x fa-fw" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram fa-2x fa-fw" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i></a>
            <a href="http://www.theuselessweb.com/"><i class="fa fa-github fa-2x fa-fw" aria-hidden="true"></i></a>

        </div>
    </section>
</section>

<!-- include icons for social media, list reference to api used, make it clean. -->
