<section class="landing-page-container">
  <div class="wrap">
    <form action="" autocomplete="on">
    <input ng-model="name" type="text" placeholder="Enter Location To Search">
    <button id="search_submit" class="main-CTA" ng-click="getWeather(name)"><img src="http://www.fwnewman.org/images/Times/magnifying_glass.png" alt=""/></button>
    </form>
  </div>

    <div class="weatherInfo" id="hidden">
        <div class="cityName">
            <p>{{ curr.name }}</p>
        </div>
        <div class="current">
            <p>{{ curr.main.temp | number: 0 }}°</p>
        </div>
        <i class="wi wi-owm-{{curr.weather[0].id}}" id="wiIcon"></i>
        <div class="sunStatus">
            <p id="rise">Sunrise: {{ curr.sys.sunrise * 1000 | date: 'h:mm a' }}</p>
            <p id="fall">Sunset: {{ curr.sys.sunset * 1000 | date: 'h:mm a' }}</p>
        </div>
    </div>
    <div class="currentWeather">
        <button class="flash-CTA" ng-click="currWeather()">My Local Weather</button>
    </div>
    <img class="loading" src="https://24.media.tumblr.com/f678ce38eb896bc1d4aaa911958af087/tumblr_n2eccv6Dev1rgpzseo1_1280.gif" alt="" />
    <div class="weatherInfo" id="currHidden">
        <div class="cityName">
            <p>{{ now.name }}</p>
        </div>
        <div class="current">
            <p>{{ now.main.temp | number: 0 }}°</p>
        </div>
        <i class="wi wi-owm-{{now.weather[0].id}} wi-5x" id="wiIcon"></i>
        <div class="sunStatus">
            <p id="rise">Sunrise: {{ now.sys.sunrise * 1000 | date: 'h:mm a' }}</p>
            <p id="fall">Sunset: {{ now.sys.sunset * 1000 | date: 'h:mm a' }}</p>
        </div>
    </div>
    </div>
</section>
