
<section class="wrapper-LP">
<!-- Video Background -->
<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <!-- <source src="styles/videos/Up/WEBM/Up.webm" type="video/webm"> -->
        <source src="http://static-p.iuqo.com/media/home/home/video/cloud.mp4">
        <!-- <source src="styles/videos/Up/OGV/Up.ogv" type="video/ogg"> -->
    </video>
</div>

<div class="container-LP">
<h1 class="title-LP">WhirlWind Weather</h1>
<p class="tag-LP">Providing Semi-Accurate Weather For A Little Over A Week</p>
<button class="descend" ui-sref="Today's weather">Take Me There</button>
</div>
</section>
